<!DOCTYPE html>
<html>
<head>
  <title>YliwOnline</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../styles/grid.css">
</head>
<body>
<div class="header">
  <p id="title" class="headerpara">Yliw<span>Online</span></p>
  <a class="headerpara" href="/logout"><button id="logout">Logout</button></a>
  <p id="userWelcome" class="headerpara">Weclome, <%=user.username%></p>
</div>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.0/jquery.scrollTo.min.js"></script>
<script type="text/javascript" src="../scripts/date.js"></script>
<script type="text/javascript" src="../scripts/grid.js"></script>
</body>
</html>
