<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="well">
            <div class="row">
                <div class="col-md-4">
                    <h1>
                        <%=user.firstName + " " + user.lastName%>
                    </h1>
                    <div class="thumbnail">
                        <img src="<%=user.avatar%>" alt="Profile Image">
                        <div class="caption">
                            <a href="mailto:<%=user.email%>">
                                <%=user.email%>
                            </a>
                        </div>
                    </div>
                </div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia recusandae, magnam reiciendis, eligendi incidunt, enim iste vel modi blanditiis iusto commodi dolorum. Fuga sit obcaecati architecto laboriosam impedit amet tempore. Lorem ipsum dolor
                sit amet, consectetur adipisicing elit. Mollitia recusandae, magnam reiciendis, eligendi incidunt, enim iste vel modi blanditiis iusto commodi dolorum. Fuga sit obcaecati architecto laboriosam impedit amet tempore. Lorem ipsum dolor sit
                amet, consectetur adipisicing elit. Mol
                <div class="col-md-8">

                </div>
            </div>
        </div>
    </div>
</body>

</html>